<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test_Entel_Demo">
      <groups>
    	<run>
    		<include name = "full_test">
    		</include>
    	</run>
    </groups>
    <classes>
      <class name="org.nagra.testScripts.Entel_scripts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
